@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <style>

        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        button {
            padding: 10px 20px;
            background: #0078D4;
            color: white;
            border: none;
        }

    </style>

</head>

<body>

    <h1>Welcome</h1>

    <p>You are successfully logged in</p>

    <br>

    <a href="/Account/Logout">
        <button>Logout</button>
    </a>

</body>
</html>